.company
    padding-bottom: 30px
    background: url('/assets/img/bg-company1.jpg') top right/60vw no-repeat
    // background-position: top, center
    // background-size: cover
    // background-repeat: no-repeat
    &__subtitle
        // z-index: -1
        margin: 0 20px
        font-family: Open Sans
        text-align: center
        font-size: 18px
        font-weight: 300
        line-height: 28px
.title
    @include title