.company
    padding-bottom: 30px
    background: url('/assets/img/bg-company.jpg')
    // background-position: center center
    // background-repeat: no-repeat
    &__subtitle
        margin: 0 20px
        font-family: Open Sans
        text-align: center
        font-size: 18px
        font-weight: 300
        line-height: 28px
.title
    @include title