.contacts
    background-color: #FFFBF3
    padding-bottom: 130px
    &__wrap
        display: flex
        justify-content: center
    &__block
        display: flex
        justify-content: center
        align-items: center
        flex-basis: 20%
        min-width: 220px
        max-width: 300px
        @media screen and ( max-width: 769px)
            min-width: 180px
        span
            font-size: 20px
            letter-spacing: 1.6px
            font-weight: 300
            text-transform: uppercase
            color: $colorText
            @media screen and ( max-width: 769px)
                font-size: 16px
        .data
            margin-left: 19px
            font-size: 16px
            letter-spacing: 0
            font-weight: 300
            text-transform: none
            text-decoration: none
            color: $colorText
            @media screen and ( max-width: 769px)
                font-size: 13px