.contacts
    background-color: #FFFBF3
    padding-bottom: 130px
    &__wrap
        display: flex
        justify-content: center
    &__block
        display: flex
        justify-content: center
        align-items: center
        flex-basis: 30%
        min-width: 270px
        max-width: 370px
        span
            font-size: 20px
            letter-spacing: 1.6px
            font-weight: 300
            text-transform: uppercase
            color: $colorText
            @media screen and ( max-width: 815px)
                font-size: 16px
        .data
            margin-left: 19px
            font-size: 16px
            letter-spacing: 0
            font-weight: 300
            text-transform: none
            text-decoration: none
            color: $colorText
            @media screen and ( max-width: 815px)
                font-size: 13px
@media screen and ( max-width: 769px)
    .contacts
            padding-bottom: 60px
            &__wrap
                flex-wrap: wrap
            &__block
                margin-top: 40px
                flex-basis: 100%
                max-width: 500px
                display: flex
                flex-direction: column
                &:nth-child(1)
                    margin-top: 0
                span
                    margin-bottom: 10px
                    font-size: 20px
                .data
                    margin-left: 0
                    font-size: 16px