.decor
    position: relative
    padding-top: 130px
    display: flex
    justify-content: center
    align-items: center
    &__title
        position: absolute
        padding-top: 67px
        font-weight: normal
        font-size: 27px
        line-height: 30px
        display: flex
        align-items: center
        justify-content: center