.footer
    &__main
        padding-bottom: 36px
        border-top: 1px solid rgba(141, 106, 39, 0.36)
        border-bottom: 1px solid rgba(141, 106, 39, 0.36)
        display: flex
    &__logo
        margin-top: 50px
        display: flex
        justify-content: center
        flex-basis: 25%
        img
            height: 53px
    &__menu
        margin-top: 62px
        display: flex
        flex-basis: 15%
        flex-direction: column
        a
            text-align: center
            margin-bottom: 13px
            text-decoration: none
            text-transform: uppercase
            color: $colorFooter
    &__wrap
        margin-top: 36px
        display: flex
        flex-basis: 15%
        flex-direction: column
        text-align: center
        .footer__block
            display: flex
            flex-direction: column
            span
                margin-top: 25px
                text-transform: uppercase
                color: $colorFooter
            .data
                margin-top: 10px
                text-decoration: none
                color: $colorFooter
    &__cards
        text-align: center
        margin-top: 25px
        display: flex
        flex-direction: column
        flex-basis: 15%
        &_img
            margin-top: 10px
    .footer__button_block
        flex-basis: 30%
        display: flex
        justify-content: center
    &__down
        margin: 24px 0 29px 0
        display: flex
        justify-content: center
        align-items: center
        text-align: center
        color: $colorFooter