.main
    position: relative
    color: $MainColor
    padding: 0 0 46px 0
    height: 800px
    z-index: 2
    @media screen and ( min-width:  1900px)
        height: 1000px
    .burger
        display: none
        transition: all 1s linear
        z-index: 1010
        @media screen and ( max-width: 1000px )
            margin-left: 15px
            transition: all .5s linear
            display: block
            order: 3
            width: 30px
            height: 20px
            position: relative
        span
            @media screen and ( max-width: 1000px )
                transition: all .5s linear
                position: relative
                display: block
                width: 30px
                height: 1px
                background-color: #fff
        &::after
            @media screen and ( max-width: 1000px )
                transition: all .5s linear
                content: ''
                position: absolute
                display: block
                bottom: 0
                width: 30px
                height: 1px
                background-color: #fff
        &::before
            @media screen and ( max-width: 1000px )
                transition: all .5s linear
                content: ''
                position: absolute
                display: block
                top: 9px
                width: 30px
                height: 1px
                background-color: #fff
    .header
        display: flex
        align-items: center
        justify-content: space-between
        padding: 24px 110px 0
        animation-delay: 2s
        @media screen and ( max-width:  1210px)
            padding: 24px 50px 0
        @media screen and ( max-width:  1090px)
            padding: 24px 10px 0
        @media screen and ( max-width:  1000px)
            padding: 24px 50px 0
        @media screen and ( max-width:  670px)
            padding: 24px 20px 0
        .logo
            opacity: .8
        .menu
            width: 47%
            display: flex
            justify-content: space-between
            transition: top .5s linear
            @media screen and ( max-width: 942px )
                width: 342px
            @media screen and ( max-width: 1000px )
                transition: top .5s linear
                flex-direction: column
                text-align: center
                justify-content: center
                width: 100vw
                height: 100vh
                background-color: #EDE4D4
                z-index: 15000
                position: fixed
                left: 0
                top: -100%
                z-index: 1001
                display: none
                a
                    margin-bottom: 42px
                    color: #644F28
                    font-size: 20px
            a
                position: relative
                font-size: 14px
                letter-spacing: 1.5px
                font-weight: 300
        .menu__link::before
            content: ''
            width: 0
            height: 0
            left: 0
            bottom: -7px
        .menu__link:hover::before
            content: ''
            display: block
            transition: all .5s
            margin-left: 10%
            position: absolute
            width: 80%
            height: 1px
            left: 0
            bottom: -7px
            background-color: white
        .active_menu
            transition: top .5s linear
            display: flex
            top: 0
        a
            color: $MainColor
            text-decoration: none
            text-transform: uppercase
            font-size: 16px
        .phone
            font-weight: 300
            @media screen and ( max-width: 1000px )
                order: -1
            @media screen and ( max-width: 769px )
                margin-left: auto
        .main__menu_wrap
            display: flex
            align-items: center
            @media screen and ( max-width: 1000px )
                margin-left: auto
    &__wrap
        position: relative
    &__title
        font-family: 'Playfair Display', serif
        z-index: -1
        text-align: center
        margin-top: 130px
        margin-bottom: 0
        text-transform: uppercase
        font-size: 60px
        letter-spacing: 8px
        font-weight: 100
        animation-delay: 2.5s
    &__subtitle
        z-index: -1
        margin-top: 30px
        line-height: 35px
        text-align: center
        font-size: 16px
        letter-spacing: 1.3px
        font-weight: 500
        animation-delay: 3s
    &__line
        z-index: -1
        animation-delay: 3.5s
    .active_burger
        z-index: 15001
        transition: all .5s linear
        span
            transition: all .5s linear
            background-color: #644F28
            transform: rotate(45deg)
            top: 10px
        &::before
            transition: all .5s linear
            transform: scale(0,0)
        &::after
            transition: all .5s linear
            background-color: #644F28
            transform: rotate(-45deg)
            top: 10px
.fullBackground
    z-index: -1
    transition: 5s
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    background-size: cover
    position: absolute
    top: 0
    left: 0
    width: 100vw
    height: 100%
    .slider
        position: relative
        margin-top: 38px
    .slick-list
        overflow: hidden
    .slick-track
        display: flex
        justify-content: center
    .fullBackground__slide
        display: flex
        justify-content: center
        outline: none
        img
            width: 100vw
            height: 800px
            @media screen and ( min-width:  1900px)
                height: 1000px
            @media screen and ( max-width: 1050px)
                width: auto
            @media screen and ( max-width: 577px)
                height: 635px   
    .slick-slide
        &::after
            content: ''
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            background-color: rgba(0, 0, 0,.48 )
    .slick-dots
        z-index: 1001
        position: absolute
        bottom: 30px
        left: 50%
        transform: translateX(-50%)
        display: flex
        @media screen and ( max-width: 577px)
            bottom: 15px
        li
            list-style: none
            margin: 0 10px
        button
            border: none
            background: url('/assets/img/icons/main_point.svg') center center/100% no-repeat
            width: 16px
            height: 30px
            font-size: 0
            cursor: pointer
        .slick-active
            background: url('/assets/img/icons/main_point-fill.svg') center center/100% no-repeat
.menu__stick
    position: fixed
    top: 0
    width: 100%
    height: 81px
    left: 50%
    z-index: 100000
    transform: translateX(-50%)
    border-bottom: 1px solid rgba(141, 106, 39, 0.15)
    background: #FFFCF6
    padding: 0 35px
    display: flex
    justify-content: space-between
    align-items: center
    color: #8D6A27
    text-transform: uppercase
    font-weight: 300
    font-size: 14px
    @media screen and ( max-width:  577px)
        padding: 0 15px
        height: 70px
        &_phone
            display: none
    &_wrap
        position: relative
        z-index: -1
        display: flex
        align-items: center
        @media screen and ( max-width:  1050px)
            margin-left: auto
    &_burger
        display: none
        position: relative
        z-index: 1000001
        @media screen and ( max-width:  1050px)
            position: relative
            display: block
            margin-left: 20px
            height: 30px
            width: 30px
            span
                position: absolute
                top: 14px
                left: 0
                width: 30px
                height: 2px
                background-color: #8d6a27
                &::before,
                &::after 
                    content: ''
                    transition: all .5s linear
                    display: block
                    position: absolute
                    left: 0
                    width: 30px
                    height: 2px
                    background-color: #8d6a27
                &::after
                    bottom: -10px
                &::before
                    top: -10px
        @media screen and ( max-width:  345px)
            margin-left: 10px
        &_active
            span
                transition: all 1s linear
                &::before,
                &::after
                    width: 20px
                &::before
                    transform: rotate(45deg)
                    top: 8px
                    left: -2px
                &::after
                    transform: rotate(-45deg)
                    top: 8px
                    left: 12px
    @media screen and ( min-width:  1600px)
        padding: 15px 15%
    &_logo
        cursor: default
    &_menu
        flex-basis: 560px
        display: flex
        justify-content: space-between
        transition: all .5s linear
        a:hover
            animation-name: vibrate-fast
            animation-duration: 1s
            animation-timing-function: ease
            animation-delay: 0s
            animation-iteration-count: 1
            animation-direction: normal
            animation-fill-mode: none
            @keyframes vibrate-fast
                0%
                    -webkit-transform: translate(0)
                    transform: translate(0)
                10%
                    -webkit-transform: translate(-2px,-2px)
                    transform: translate(-2px,-2px)
                20%
                    -webkit-transform: translate(2px,-2px)
                    transform: translate(2px,-2px)
                30%
                    -webkit-transform: translate(-2px,2px)
                    transform: translate(-2px,2px)
                40%
                    -webkit-transform: translate(2px,2px)
                    transform: translate(2px,2px)
                50%
                    -webkit-transform: translate(-2px,-2px)
                    transform: translate(-2px,-2px)
                60%
                    -webkit-transform: translate(2px,-2px)
                    transform: translate(2px,-2px)
                70%
                    -webkit-transform: translate(-2px,2px)
                    transform: translate(-2px,2px)
                80%
                    -webkit-transform: translate(-2px,-2px)
                    transform: translate(-2px,-2px)
                90%
                    -webkit-transform: translate(2px,-2px)
                    transform: translate(2px,-2px)
                100%
                    -webkit-transform: translate(0)
                    transform: translate(0)
        @media screen and ( max-width:  1050px)
            position: fixed
            right: -120vw
            flex-direction: column
            justify-content: center
            align-items: center
            top: 0
            width: 100%
            height: 100vh
            background-color: #ffffff
            a
                margin-bottom: 30px
        &_active
            right: 0
    &_link
    a
        color: #8D6A27
        text-transform: uppercase
        text-decoration: none
        letter-spacing: 1px
