.services
    background-color: #E5E5E5
    height: 542px
    &__wrap
        display: flex
        justify-content: center
        .block
            width: 800px
            display: flex
            justify-content: space-between
            text-align: center
            color: $colorText
            &__title
                font-weight: normal
                font-size: 19px
                line-height: 27px
                text-transform: uppercase
            &__text
                margin-top: 22px
                line-height: 25px