.gallery
    background: linear-gradient(180deg, rgba(255, 251, 243, 0.21) 0%, #FFFBF3 100%)
    .types
        display: flex
        justify-content: center
        .type
            font-size: 17px
            text-align: center
            text-transform: uppercase
            color: $colorText
            flex-basis: 240px
            span
                font-weight: 300
                letter-spacing: 1.6px
                position: relative
                cursor: pointer
            .type__name
                &::before
                    content: ''
                    width: 0
                    height: 0
                    left: 0
                    bottom: -10px
                &:hover::before
                    content: ''
                    transition: all .5s
                    margin-left: 10%
                    position: absolute
                    width: 80%
                    height: 1px
                    left: 0
                    bottom: -10px
                    background-color:  #8d6a27
    .active__type
        &::before
            content: ''
            transition: all .5s
            margin-left: 10%
            position: absolute
            width: 80%
            height: 1px
            left: 0
            bottom: -10px
            background-color:  #8d6a27
    .slider
        position: relative
        margin-top: 38px
    .slick-list
        overflow: hidden
    .slick-track
        // width: 100vw
        display: flex
        justify-content: center
    .slider__item
        display: flex
        justify-content: center
        outline: none
        img
            width: 100vw
            height: 600px
            @media screen and ( max-width: 800px )
                height: 400px
            @media screen and ( max-width: 565px )
                height: 300px
            @media screen and ( max-width: 425px )
                height: 200px
    .slick-slide
        &::after
           content: ''
           position: absolute
           top: 0
           left: 0
           height: 100%
           width: 100%
           background-color: rgba(0, 0, 0,.25 ) 
    .slick-arrow
        position: absolute
        z-index: 10010000
        top: 50%
        transform: translateY(-50%)
        border: none
        font-size: 0
        width: 30px
        height: 30px
        background-color: #fff
        outline: none
        cursor: pointer
    .slick-next
        right: 0
        background: url('/assets/img/icons/arrow-right_gallery.png') center center/cover no-repeat
    .slick-prev
        left: 0
        background: url('/assets/img/icons/arrow-left_gallery.png') center center/cover no-repeat
.numbers
    margin-top: 30px
    font-weight: 300
    color: #8D6A27
    font-size: 17px
    display: flex
    justify-content: center
    @media screen and ( max-width: 577px)
        display: none
.slick-active
    z-index: -1

    
        
