.gallery
    height: 770px
    .types
        display: flex
        justify-content: center
        .type
            font-size: 17px
            text-transform: uppercase
            color: $colorText
            &:nth-child(2)
                padding: 0 79px