{{> head }}
<body>
<div class="white"></div>
{{> body }}
{{> main }}
{{> company }}
{{> gallery }}
{{> howOrder }}
{{> order }}
{{> forgingsSlider }}
{{> video }}
{{> decor }}
{{> callus }}
{{> footer }}
<div class="befSendMes">
    <div class="befSendDiv">
        <div>
            Мы свяжемся с Вами в ближайшее время!
        </div>
        <img src="assets/img/icons/line-red.svg" alt="line-red" class="line line_modal">
    </div>
   <div class="overlay"></div>
</div>
<div class="befSend">
    <div class="befSendDiv">
        <div>
            Спасибо за заказ! <br>
        Мы свяжемся с Вами в ближайшее время!
        </div>
        <img src="assets/img/icons/line-red.svg" alt="line-red" class="line line_modal">
    </div>
   <div class="overlay"></div>
</div>
<script src="assets/libraries/slick.min.js"></script>
<script src="assets/libraries/nprogress.js"></script>
<script>
    NProgress.start();
</script>
<script src="assets/js/jquery.inputmask.js"></script>
<script src="assets/js/main.min.js"></script>
</body>
</html>