<section class="callus">
    <h2 class="title">Свяжитесь с нами</h2>
    <img src="assets/img/icons/line-red.svg" alt="line-red" class="line">
    <div class="subtitle">
        Остались вопросы? Звоните нам прямо сейчас или закажите <br> 
        обратный звонок
    </div>
    <form class="callus__form" name="callus" action="" method="post">
        <input name="name" placeholder="Имя" type="text">
        <input name="phone" placeholder="Телефон" type="text">
        <button class="button button__callus">Заказать звонок</button>
    </form>
</section>