<section id="callus" class="callus">
    <h2 class="title">Свяжитесь с нами</h2>
    <img src="assets/img/icons/line-red.svg" alt="line-red" class="line">
    <div class="subtitle">
        Остались вопросы? Звоните нам прямо сейчас или закажите <br> 
        обратный звонок
    </div>
    <form class="callus__form" name="callus" method="post">
        <input name="up" value="Позвонить" type="hidden">
        <input name="Имя" id="name_callus" placeholder="Имя" type="text">
        <input name="Телефон" id="phone_callus" placeholder="Телефон" type="text">
        <button class="button button__callus">Заказать звонок</button>
        <div class="nValidCall"></div>
    </form>
</section>