<section id="company" class="company">
    <div class="container">
        <h2 style="z-index: -1;" class="title wow fadeInLeft slow">компания</h2>
        <img style="z-index: -1;" src="assets/img/icons/line-red.svg" alt="line-red" class="line wow fadeInRight slow">
        <div class="company__subtitle wow fadeInDown slow"> 
            Компания «Никас-дизайн» специализируется на горячей художественной <br>
            ковке металла. Наш мастер-кузнец воплотит в жизнь любые ваши творческие <br>
            идеи. Каждая работа  — это неповоторимое произведение искусства. Наши <br>
            изделия художественной ковки обогатят ваш интерьер, придавая ему <br>
            грациозность и элегантность.
        </div>
    </div>
</section>