<section id="company" class="company">
    <div class="container">
        <h2 style="z-index: -1;" class="title wow fadeInLeft slow">компания</h2>
        <img style="z-index: -1;" src="assets/img/icons/line-red.svg" alt="line-red" class="line wow fadeInRight slow">
        <div class="company__subtitle wow fadeInDown slow"> 
            Мы работаем в сфере художественной ковки с 2007 года. <br>
            Наша деятельность направлена на ценителей кузнечного дела как искусства
            Мы не занимаемся монтажными работами, что позволяет нам нам полностью сфокусироваться и углубиться в кузнечное дело. Способы обработки металла в нашей кузнице являются собственной   разработкой и находятся в секрете.
             
        </div>
    </div>
    <h2 id="gallery" class="title wow fadeInUp slow">Каталог Ограждений</h2>
</section>