<section class="contacts">
    <h2 class="title">контакты</h2>
    <img src="assets/img/icons/line-red.svg" alt="line-red" class="line">
    <div class="contacts__wrap">
            <div class="contacts__block"><span>Телефон</span><a class="data" href="tel:+79130117599">8 (913) 011-75-99</a></div>
            <div class="contacts__block"><span>E-mail</span><a class="data" href="mailto:71083@list.ru">71083@list.ru</a></div>
            <div class="contacts__block"><span>Адрес</span><span class="data">г. Новосибирск, <br>
                улица Кирова 46</span></div>
    </div>
</section>