<section class="footer">
    <div class="container">
        <div class="footer__main wow fadeInLeft slow">
            <div class="footer__logo">
                <img src="assets/img/icons/footer/footer__logo.png" alt="logo">
            </div>
            <nav class="footer__menu">
                <a href="#company" class="footer__menu_link">компания</a>
                <a href="#gallery" class="footer__menu_link">фотогалерея</a>
                <a href="#services" class="footer__menu_link">услуги</a>
                <a href="#order" class="footer__menu_link">Заказ</a>
            </nav>
            <div class="footer__wrap">
                <div class="footer__block"><span>Телефон</span><a class="data" href="tel:+79130117599">8 (913) 011-75-99</a></div>
                <div class="footer__block"><span>E-mail</span><a class="data" href="mailto:71083@list.ru">71083@list.ru.</a></div>
                <div class="footer__block"><span>Адрес</span><span class="data">г. Новосибирск, <br>
                    улица Кирова 46</span></div>
            </div>
            <div class="footer__cards">
                <div class="footer__cards_img"><img src="assets/img/icons/footer/paypal.png" alt="paypal"></div>
                <div class="footer__cards_img"><img src="assets/img/icons/footer/visa.png" alt="visa"></div>
                <div class="footer__cards_img"><img src="assets/img/icons/footer/mscard.png" alt="mscard"></div>
                <div class="footer__cards_img"><img src="assets/img/icons/footer/mir.png" alt="mir"></div>
            </div>
            <div class="footer__button_block">
                <button class="button button__footer">Заказать звонок</button>
            </div>
        </div>
        <div class="footer__down wow fadeInRight slow">
            2020 © Никас <br>
            Все права защищены
        </div>
    </div>
</section>