<section class="forgingsSlider">
  <div id="forgings" class="container">
    <h2 class="title">Комплектующие “Поковки”</h2>
    <img
      src="assets/img/icons/line-red.svg"
      alt="line-red"
      class="line wow fadeInUp slow"
    />
    <div class="forgingsSlider__slider">
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka0.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka1.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka2.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka3.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka4.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka5.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka6.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka7.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka8.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka9.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka10.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka11.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka12.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka13.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka14.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka15.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka16.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka17.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka18.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka19.jpg" alt="" />
      </div>
      <div class="slider__item">
        <img src="assets/img/slider/pakovkes/pakovka20.jpg" alt="" />
      </div>
    </div>
    <div class="forgingsSlider__modal">
      <div class="forgingsSlider__modal_wrap">
        <span></span>
        <img class="forgingsSlider__img" src="" alt="" />
      </div>
    </div>
  </div>
</section>
