<section class="gallery">
    <div id="gallery_cont" class="container">
        <h2 id="gallery" class="title wow fadeInUpBig slow">фотогалерея</h2>
        <img src="assets/img/icons/line-red.svg" alt="line-red" class="line wow fadeInUpBig slow">
        <div class="types wow fadeInUpBig slow">
            <div class="type"><span data-type="1" class="active__type">Ограждения</span></div>
            <div class="type"><span data-type="2" class="type__name active__type">Предметы интерьера</span></div>
            <div class="type"><span data-type="3" class="type__name active__type">паковки</span></div>
        </div>
        <div id="slider_one" data-type="1" class="slider slider-one wow fadeInUpBig slow">
            <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/03/09/17/03/spring-4916430_960_720.jpg" alt=""></div>
            <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/04/06/19/47/easter-eggs-5011031_960_720.jpg" alt=""></div>
            <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/02/06/21/02/background-4825512_960_720.jpg" alt=""></div>
        </div>
        <div data-type="2" class="slider slider-two">
            <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/03/09/17/03/spring-4916430_960_720.jpg" alt=""></div>
            <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/04/06/19/47/easter-eggs-5011031_960_720.jpg" alt=""></div>
            <div class="slider__item"><img src="https://cdn.pixabay.com/photo/2020/02/06/21/02/background-4825512_960_720.jpg" alt=""></div>
        </div>
        <div data-type="3" class="slider slider-three">
            <div class="slider__item"><img src="assets/img/slider/pakovka0.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka1.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka2.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka3.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka4.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka5.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka6.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka7.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka8.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka9.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka10.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka11.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka12.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka13.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka14.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka15.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka16.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka17.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka18.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka19.jpg" alt="p"></div>
            <div class="slider__item"><img src="assets/img/slider/pakovka20.jpg" alt="p"></div>
        </div>
        <div class="numbers">
            <span class="start">1</span>
                /
            <span class="end">3</span>
        </div>
    </div>
</section>