<section class="gallery">
    <div id="gallery_cont" class="container">
        <img src="assets/img/icons/line-red.svg" alt="line-red" class="line wow fadeInUp slow">
        <div id="slider_one" data-type="1" class="slider slider-one wow fadeInUp slow">
            <div class="slider__item"><img src="assets/img/slider/fences/fence1.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence2.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence3.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence4.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence5.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence6.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence7.jpg" alt=""></div>
            <div class="slider__item"><img src="assets/img/slider/fences/fence8.jpg" alt=""></div>
        </div>
        <div class="numbers numbers-one">
            <span class="start">1</span>
                /
            <span class="end">3</span>
        </div>
    </div>
</section>