<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/libraries/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/libraries/nprogress.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <link rel="stylesheet" href="assets/libraries/animate.min.css">
    <script src="assets/libraries/jquery.min.js"></script>
    <script src="assets/libraries/wow.min.js"></script>
    <script>
        new WOW().init()
    </script>
    <title>{{ title }}</title>
</head>