<section class="howOrder">
    <div class="container">
        <h2 class="title wow fadeInUp slow">Как заказать</h2>
        <img src="assets/img/icons/line-red.svg" alt="line-red" class="line wow fadeInUp slow">
        <div class="fence  wow fadeInUp slow">
            <div class='fence__title howOrder__title'>ОГРАЖДЕНИЯ</div>
            <div class="fence__wrap">
                <div class="fence__block">
                    <span class="fence__number howOrder__number">1</span>
                    <div class="fence__text">
                        Для того, чтобы у Вас появились ограждения от наших Мастеров, вам необходимо сделать фотографии и замеры проемов под будущие ограждения.
                    </div>
                </div>
                <div class="fence__block">
                    <span class="fence__number howOrder__number">2</span>
                    <div class="fence__text">
                        Связаться с нами по телефону (воцап, эл. почте), мы проконсультируем вас по всем вопросам, в том числе по стоимости.
                    </div>
                </div>
                <div class="fence__block">
                    <span class="fence__number howOrder__number">3</span>
                    <div class="fence__text">
                        Для подготовки договора нам потребуются точные размеры, если это затруднительно сделать, можно изготовить рамки из профильной трубы  «по месту» ваших проемов и выслать их нам транспортной компанией.
                    </div>
                </div>
                <div class="fence__block">
                    <span class="fence__number howOrder__number">4</span>
                    <div class="fence__text">
                        После согласования бюджета, мы заключаем договор — аванс 50%. Далее наши дизайнеры подготавливают проект ограждений. Мы согласовываем его с вами.
                    </div>
                </div>
                <div class="fence__block">
                    <span class="fence__number howOrder__number">5</span>
                    <div class="fence__text">
                        Изготавливаем. После полной готовности, предоставляем подробный фотоотчет, с подтверждением полное соответствие проекту.
                    </div>
                </div>
                <div class="fence__block">
                    <span class="fence__number howOrder__number">6</span>
                    <div class="fence__text">
                        Подписываем акты выполненных работ (в сканированном виде). Оплата оставшейся суммы (50%). Отправка транспортной компанией в ваш адрес.
                    </div>
                </div>
            </div>
        </div>
        <div class="items wow fadeInUp slow">
            <div class="items__title howOrder__title">Предметы интерьера</div>
            <div class="items__wrap">
                <div class="items__block">
                    <span class="items__number">1</span>
                    <div class="items__text">Изготавливаем «под заказ» кованые скульптуры 
                        и прочие изделия для декорирования интерьера;</div>
                </div>
                <div class="items__block">
                    <span class="items__number">2</span>
                    <div class="items__text">Вся работа выполняется руками Мастера кузнеца, стоимость 
                        и сроки рассчитываются индивидуально.</div>
                </div>
            </div>
        </div>
        <div class="forging  wow fadeInUp slow">
            <div class="howOrder__title items__title">паковки</div>
            <div class="forging__wrap">
                <div class="forging__block">
                    <span class="forging__number">1</span>
                    <div class="forging__text">Вся работа выполняется руками Мастера кузнеца, стоимость 
                        и сроки рассчитываются индивидуально.</div>
                </div>
                <div class="forging__block">
                    <span class="forging__number">2</span>
                    <div class="forging__text">Мы продаем паковки поштучно. Отправляем транспортными компаниями по всей России. </div>
                </div>
                <div class="forging__block">
                    <span class="forging__number">3</span>
                    <div class="forging__text">Срок доставки около 3-7 дней, только после 100 % предоплаты.</div>
                </div>
            </div>
        </div>
    </div>
</section>