<section class="main">
    <div class="opacity"></div>
    <div class="container">
        <header class="header">
            <img src="assets/img/icons/logo.png" alt="logo" class="logo">
            <nav class="menu">
                <a href="#" class="menu__link">компания</a>
                <a href="#" class="menu__link">фотогалерея</a>
                <a href="#" class="menu__link">услуги</a>
                <a href="#" class="menu__link">Заказ</a>
            </nav>
            <a href="#" class="phone">8 (913) 011-75-99</a>
        </header>
        <h1 class="main__title">Кованные изделия</h1>
        <h2 class="main__subtitle">Обогащайте свой интерьер с помощью  уникальных <br>
            изделий художесвтенной ковки</h2>
        <img src="assets/img/icons/line.svg" alt="line" class="line">
        <button class="button button__main">Заказать</button>
        <div class="main__points">
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
    </div>
</section>