<section class="main">
    <div class="fullBackground"></div>
    <div class="container">
        <header class="header wow slow">
            <img src="assets/img/icons/logo.png" alt="logo" class="logo wow slow">
            <div class="burger wow slow"><span></span></div>
            <nav class="menu">
                <a href="#company" class="menu__link">компания</a>
                <a href="#order" class="menu__link">Оформить заказ</a>
                <a href="#gallery" class="menu__link">Ограждения</a>
                <a href="#forgings" class="menu__link">Поковки</a>
            </nav>
            <div class="main__menu_wrap">
                <button class="button button__main_menu">Заказать звонок</button>
                <a href="tel:+79130117599" class="phone wow slow">8 (913) 011-75-99</a>
            </div>
        </header>
        <div class="menu__stick">
            <div class="menu__stick_logo">Никас</div>
            <nav class="menu__stick_menu">
                <a href="#company" class="menu__stick_link">компания</a>
                <a href="#order" class="menu__stick_link">Оформить заказ</a>
                <a href="#gallery" class="menu__stick_link">Ограждения</a>
                <a href="#forgings" class="menu__stick_link">Поковки</a>
            </nav>
            <a href="tel:+79130117599" class="menu__stick_phone">8 (913) 011-75-99</a>
            <div class="menu__stick_burger"><span></span></div>
        </div>
        <div class="main__wrap">
            <h1 class="main__title wow slow">Кованные изделия</h1>
            <h2 class="main__subtitle wow slow">Обогащайте свой интерьер с помощью  уникальных <br>
                изделий художесвтенной ковки</h2>
            <img src="assets/img/icons/line.svg" alt="line" class="line main__line wow slow">
        </div>
        <button class="button button__main wow slow">РАСЧИТАТЬ СТОИМОСТЬ</button>
        <div class="main__points">
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
    </div>
</section>