<section class="main">
    <div class="fullBackground"></div>
    <div class="container">
        <header class="header wow slow">
            <img src="assets/img/icons/logo.png" alt="logo" class="logo wow slow">
            <div class="burger wow slow"><span></span></div>
            <nav class="menu">
                <a href="#company" class="menu__link">компания</a>
                <a href="#gallery" class="menu__link">фотогалерея</a>
                <a href="#services" class="menu__link">услуги</a>
                <a href="#order" class="menu__link">Заказ</a>
            </nav>
            <a href="tel:+79130117599" class="phone wow slow">8 (913) 011-75-99</a>
        </header>
        <div class="main__wrap">
            <h1 class="main__title wow slow">Кованные изделия</h1>
            <h2 class="main__subtitle wow slow">Обогащайте свой интерьер с помощью  уникальных <br>
                изделий художесвтенной ковки</h2>
            <img src="assets/img/icons/line.svg" alt="line" class="line main__line wow slow">
        </div>
        <button class="button button__main wow slow">Заказать</button>
        <div class="main__points">
            <div class="point"></div>
            <div class="point"></div>
            <div class="point"></div>
        </div>
    </div>
</section>