<section class="order">
    <h2 class="title">готовы сделать заказ?</h2>
    <img src="assets/img/icons/line-red.svg" alt="line-red" class="line">
    <div class="subtitle">Заполните форму заказа и мы свяжемся с вами <br>
        для его дальнейшего обсуждения</div>
    <form action="" method="post" class="order__form">
        <div class="inputs">
            <input name="name" placeholder="Имя" type="text">
            <input name="email" placeholder="E-mail" type="text">
            <input name="phone" placeholder="Телефон" type="text">
        </div>
        <div class="submit">
            <textarea name="message" placeholder="Описание заказа" id="" cols="30" rows="10"></textarea>
            <button class="button button__order">Оформить заказ</button>
        </div>
    </form>
</section>