<section class="services">
    <div class="container">
        <h2 class="title">услуги</h2>
        <img src="assets/img/icons/line-red.svg" alt="line-red" class="line">
        <div class="services__wrap">
            <div class="block">
                <div class="block__about">
                    <div class="block__title">кованные <br>
                        ограждения </div>
                    <div class="block__text"> Бесплато создаем проект ограждения <br> 
                        по замерам ваших пролетов. В нашей <br> галерее нахотяся почти готовые <br> решения ограждений </div>
                </div>
                <div class="block__about">
                    <div class="block__title">Кованные <br>
                        предметы интерьера</div>
                    <div class="block__text">Мы изготавливаем для вас <br> 
                        уникальные предметы интерьера, <br> 
                        которые придают благородсвто <br>
                        и обогащают  обстановку</div>
                </div>
                <div class="block__about">
                    <div class="block__title">Кованные <br>
                        паковки</div>
                    <div class="block__text">Наш мастер изготавливает <br>
                         изящные кованные паковки, они <br>
                          придают декоративным изделиям <br>
                           особый художественный шарм </div>
                </div>
            </div>
        </div>
    </div>
</section>