.button
    display: block
    width: 234px
    height: 57px
    background-color: rgba(255, 255, 255,0 )
    text-transform: uppercase
    border: 1px solid rgba(141, 106, 39, 0.5)
    color: #8D6A27
    letter-spacing: 2px
    cursor: pointer
    &__callus
    &__order
        margin-top: 16px
        width: 292px
        height: 58px
    &__main
        width: 173px
        height: 56px
        color: $MainColor
        margin: 0 auto
        margin-top: 70px
        border: none
    &__footer
        margin-top: 57px