.button__nikos
    position: relative
    font-weight: 300
    display: block
    width: 234px
    height: 57px
    background-color: rgba(255, 255, 255,0 )
    text-transform: uppercase
    border: none
    color: #8D6A27
    letter-spacing: 2px
    cursor: pointer
    &::after
        transition: all .6s
        content: ''
        top: 3px
        right: 4px
        border: 1px solid rgba(141, 106, 39, 0.5)
        position: absolute
        width: 232px
        height: 55px
    &:hover::after
        top: 0
        right: 0px
    &::before
        transition: all .6s
        content: ''
        top: -6px
        right: -5px
        border: 1px solid rgba(141, 106, 39, 0.5)
        position: absolute
        width: 232px
        height: 55px
    &:hover::before
        top: 0
        right: 0
.button
    &__callus
        &::after
            @media screen and ( max-width: 769px)
                width: 160px
        &::before
            @media screen and ( max-width: 769px)
                width: 160px
        @media screen and ( max-width: 769px)
            width: 160px
    &__order
        margin-top: 16px
        box-sizing: border-box
        width: 304px
        height: 56px
        &::after
            transition: all .6s
            content: ''
            top: 1px
            right: 4px
            border: 1px solid rgba(141, 106, 39, 0.5)
            position: absolute
            width: 304px
            height: 56px
        &:hover::after
            top: 0
            right: 0
        &::before
            transition: all .6s
            content: ''
            top: -6px
            right: -5px
            border: 1px solid rgba(141, 106, 39, 0.5)
            position: absolute
            width: 304px
            height: 56px
        &:hover::before
            top: 0
            right: 0
    &__main
        width: 304px
        height: 58.85px
        color: $MainColor
        margin: 0 auto
        margin-top: 70px
        border: none
        &::after
            width: 304px
            height: 58.85px
            top: 2px
            right: 2px
            border: 1px solid #FFFFFF
        &::before
            width: 304px
            height: 58.85px
            top: -8px
            right: -7px
            border: 1px solid #FFFFFF
        @media screen and ( max-width: 577px )
            width: 274px
            &::after,
            &::before
                width: 274px
        &_menu
            margin-right: 30px
            width: 154.1px
            height: 39.22px
            font-size: 13px
            line-height: 15px
            letter-spacing: 0.05em
            text-transform: uppercase
            color: #FFFFFF
            @media screen and ( max-width:  1000px)
                margin-left: 15px
                margin-right: 0
            &::before,
            &::after
                width: 154.1px
                height: 39.22px
                border: 1px solid #FFFFFF
            &::before
                top: -2px
                right: -1px
    &__footer
        margin-top: 57px
        &::before
            @media screen and ( max-width: 839px)
                width: 204px
        &::after
            @media screen and ( max-width: 839px)
                width: 204px 
        @media screen and ( max-width: 839px)
            width: 204px
    &__stick
        position: relative
        z-index: -1
        margin-right: 20px
        width: 154.1px
        height: 39.22px
        font-size: 13px
        line-height: 15px
        letter-spacing: 0.05em
        text-transform: uppercase
        &::before,
        &::after
            width: 154px
            height: 39.22px
        &::before
            top: -2px
            left: -1px
        &::after
            top: 3px
            left: 4px
        &:hover::after,
        &:hover::before
            left: 0
            top: 0
